.outer{
  margin-left:10rem;
  width: 55rem;
}

.outer form{
  display: flex;
  margin-left: 2.5rem;
  border: 2px;
  margin: 0.25rem;
  margin-top: 0px;
}

.searchIcon{
  height: 1.5rem;
  margin-top: 0.5rem;
  padding-left: 0.5rem;
}