.head{
	border : 2px black solid;
	border-radius: 2px;
	width: 12rem;
	margin-left: 1rem;
	padding-top:0.5rem;
	padding-left: 1rem;
	text-align: left;
	font-size: 1.25rem;
}

.head span{
	padding-left: 2px;
	display: inline-block;
	width: 7rem;
}

.communities_list{
  padding-top: 0.5rem;
  border: wheat;
  border-width: 2px;
  border-style: solid;
  position: absolute;
  top:4.75rem;
  left:8rem;
  z-index: 1;
  border-radius: 4px;
  border-color: black;
  padding: 5px;
  cursor: pointer;
  text-align: center;
  width: 10.5rem;
  background-color: white;
  text-decoration: underline;
	display: none;
}

li{ 
  text-align: left;
  color: black;
}

.show{
  display: block;
}

