img{
  max-width: 32rem;
}

h2{
 color: skyblue;
 font-size: 2rem;
}

.icons{
  width: 2.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  display: inline-block;
  cursor: pointer;
}

.bottomBar{
  display: flex;
  padding-top: 1.25rem;
}

#postDiv{
  margin-left: 1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
}